/* app css stylesheet */
@import url(http://fonts.googleapis.com/earlyaccess/notosansgujarati.css);

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.navbar-brand {
  padding: 0px;
  margin-right: 15px;
  margin-left: 10px;
}

.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}

.material-container{
	text-align: center;
}

.material-link, .material-element{
	margin-top: 10px;
	margin-bottom: 20px;
}

.image-container img{
	width: 60%;
	min-height: 300px;
	background-image: url(img/placeholder.png);
	background-size: cover;
}

.login-box{
	background-color: #DCDCDC;
	padding: 20px;
	margin: auto;
	width: 400px;
	height: 200px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

canvas{
	background-color: blue;
	margin: 0 auto; 
}

.form-container{
	background-color: #DCDCDC;
	border: 1px solid #0A0A0A;
	box-sizing: "border-box";
	right: 100px;
	padding: 10px;
	top: 100px;
	width: 450px;
	min-height: 600px;
}

.background-container{
	width: 100%;
	background-color: red;
}

.home-background{
	background-size: cover;
	width: 100%;
	margin-top: -20px;
	max-height: 600px;
	position: relative;
}

.home-title{
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	/*background-color: green;*/
	font-family: "Source Sans Pro", "sans-serif"; 
}

.home-title h1, .home-title h4{
	display: inline;
}

.home-title h1{
	font-size: 70px;
	font-weight: 600;
}

.home-title h4{
	font-size: 30px;
	font-weight: 300;
	position: absolute;
	top: 0;
}

#myForm h4{
	display: block;
}

.imageFindXy{
	width: 500px;
	height: auto;
}

.imageFindXy img, .imageFindXyBanner img{
	width: 100%;
}


.imageFindXyBanner{
	width: 834px; 
}

.imageFindXyBackdrop{

}

.imageCoords{

}

#myForm .field{
	padding-bottom: 15px;
}

#myForm p{
	color: #7C7C7C;
	margin-top: -7px;
	margin-bottom: 10px;
}

