/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.material-container{
	text-align: center;
}

.material-link, .material-element{
	margin-top: 10px;
	margin-bottom: 20px;
}

.image-container img{
	width: 60%;
	min-height: 300px;
	background-image: url(img/placeholder.png);
	background-size: cover;
}

.login-box{
	background-color: #DCDCDC;
	padding: 20px;
	margin: auto;
	width: 400px;
	height: 200px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

canvas{
	background-color: blue;
	margin: 0 auto;
}

.form-container{
	background-color: #DCDCDC;
	border: 1px solid #0A0A0A;
	box-sizing: "border-box";
	position: absolute;
	right: 100px;
	padding: 10px;
	top: 100px;
	width: 450px;
	height: 600px;
}
