<div>
  <div ng-include src= "'home/navigation.view.html'"></div>
    <div class = "jumbotron">
      <h1>{{title}}</h1>
    </div>
    <div class = "container">
      <h3>Filters: </h3>
     <button ng-click = "filterOnPress($event)" name = "English">English</button>
     <button ng-click = "filterOnPress($event)"  name = "Gujarati">Gujarati</button>
     <button ng-click = "filterOnPress($event)" name = "Generic" >Generic</button>
     <button ng-click = "filterOnPress($event)"  name = "Special">Special Occasions</button>

      <input type="text" id="myInput" ng-keyup="searchTable()" placeholder="Search the table for a keyword">

      <button class = "viewAllArticles" ng-click="removeFilter()">X Close Filter</button>
      <table id="articleTable" st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
          <th st-sort="getters.firstName">Article Name</th>
          <th st-sort="lastName">Subcategory</th>
          <th st-sort="birthDate">Language</th>
          <th st-sort="balance" st-skip-natural="true" >Wordcount</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="article in articles">
          <td>{{article.name | uppercase}}</td>
          <td>{{article.category}}</td>
          <td>{{article.language}}</td>
          <td>{{article.wordCount}}</td>
          <td ><a ng-if = "article.articleLink" ng-click="saveArticle(article)">view</a></td>
        </tr>
        </tbody>
      </table>
      <!-- <div class = "material-container" ng-repeat="article in articles">
        <a class = "material-link" ng-click="saveMaterial(articles)">
          <div class = "material-element col-md-4">
            <h4>{{article.name}}</h4>
          </div>
        </a>
      </div> -->
      </div>
    </div>
</div>