
<div class= "content">
  <div ng-include src= "'home/navigation.view.html'"></div>
  <div class = "detail-controls">
    <div class = "col-md-4">
      <h4>{{object.name}}</h4>
    </div>
    <div class = "buttons col-md-offset-5 col-md-3">
      <button ng-click = "openSidebar($event)" >Edit Template</button>
      <a id = "download" ng-click="download()">Download </a>
    </div>
  </div>

<div class= "sidebar-form">
  <div class = "form-container2">
      <form id="myForm">
        <div class= "field" ng-repeat="field in formInfo">
          <div ng-if="field.id == 'srmd_logo'">
            <h4><b>SRMD Logo Country</h4></b>
            <div class="radio-button" ng-repeat = "country in supportedLogoCountries">
              <input name = "{{field.id}}" id = "{{field.id}}_{{country.key}}"
               type = "radio" value = "{{country}}" ng-checked="{{country=='General'}}"/>{{country}}</input><br/>
            </div>
          </div>
          <div ng-if= "field.id == 'upload_logo'">
            <h4><b>Upload Your Logo</h4></b>
            <p class = "intructions">{{field.instructions}}</p>
            <input class="{{field.id}}" type="file" accept="image/*" image="image"/>
            Original: <img style = "width: 100px; height: 100px;" class="{{field.id}}" ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" />
          </div>
          <div ng-if= "field.id == 'swamivatsalya'">
            <h4><b>Swamivatsalya</h4></b>
            <p class = "intructions">{{field.instructions}}</p>
            <div class = "radio-button">
               <input name = "{{field.id}}"
               type = "radio" value = "Swamivatsalya (Lunch) will be provided." />Swamivatsalya (Lunch) will be provided. </input><br/>
               <input name = "{{field.id}}"
               type = "radio" value = "Swamivatsalya (Dinner) will be provided" />Swamivatsalya (Dinner) will be provided.</input><br/>
                <input name = "{{field.id}}"
               type = "radio" value = "" checked/>No Swamivatsalya.</input><br/>
            </div>
          </div>
          <div ng-if = "(field.id != 'upload_logo' && field.id != 'srmd_logo' && field.id != 'swamivatsalya')">
            <h4><b>{{field.fieldName}}</b></h4>
            <p class = "intructions">{{field.instructions}}</p>
            <input id = "{{field.id}}" class = "detail-field" type="text" name="{{field.fieldName}}"  placeholder="{{field.placeholderText}}"/><br/>
          </div>
        </div>
        <input type="submit" value="UPDATE" ng-click = "submitForm()">
       <!--  <a class = "btn" id = "download" ng-click="download()">Download</a> -->
      </form>
    </div>
</div>

<div class="pusher">
  <div class = "container">	
  <div class = "canvas-container">
      <canvas id ="canvas" class= "shadow" width ="500" height="600"></canvas>
      <!-- <canvas id = "second_canvas" width ="500" height="600"></canvas> -->
     <!--  <canvas id = "third_canvas" width ="500" height="600"></canvas> -->
  </div>
  </div>
</div>
</div>
<script ng-if="convertInvitationPDF" src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  // WebFont.load({
  //   google: {
  //     families: [ 'Philosopher' ]
  //   }
  // });
</script>