<div>
  <div ng-include src= "'home/navigation.view.html'"></div>
    <div ng-show="!isHomePage">
    
    <div class = "jumbotron">
      <h1>{{title}}</h1>
    </div>
    <div class = "container">
      <div class = "material-container" ng-repeat="flyer in flyers">
        <a class = "material-link" ng-click="saveMaterial(flyer)">
          <div class = "material-element col-md-4">
            <div class = "object-container">
              <div class = "image-container">
              <div class = "hover-overlay"></div>
              <!-- <img src = "{{flyer.imageLink}}" /> -->
              <img src = "{{flyer.thumbnailLink}}" />
            </div>
            <div class= "name-container">
             <h4>{{flyer.name}}</h4>
            </div>
          </div>
          </div>
        </a>
      </div>
      </div>
    </div>
    <div ng-show="isHomePage">
    <div class = "container-fluid" style="margin:0!important; padding: 0!important">
      <div class = "background-container">
        <img class = "home-background" src="../img/home_background.png" />
        <div class = "home-title">
          <h1>SRMD Flyers</h1><h4>BETA</h4>
        </div>
      </div>
    </div>
    </div>

  <!-- <div ng-include src="'/home/material_library.view.html'" data-ng-init="fn_load()" ></div> -->
</div>