<div>
  <div ng-include src= "'home/navigation.view.html'"></div>
  <div ng-show="!isHomePage">
    
    <div class = "jumbotron">
      <h1>{{title}}</h1>
    </div>
   <!-- <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul> -->
<div class = "container">
  <uib-tabset active="active">
      <uib-tab index="$index" ng-repeat="language in flyers" heading="{{tabTitles[$index]}}" disable="tab.disabled">
        <div class = "row">
          <div class = "material-container col-md-4" ng-repeat-start="flyer in language">
            <div ng-if="flyer.twoOptions != true">
              <a class = "material-link" ng-click="saveMaterial(flyer, 0)">
                <div class = "material-element">
                  <div class = "object-container">
                    <div class = "image-container">
                    <div class = "hover-overlay"></div>
                    <img ng-src = "{{flyer.thumbnailLink}}" />
                  </div>
                  <div class= "name-container">
                   <h4>{{flyer.name}}</h4>
                  </div>
                </div>
                </div>
              </a>
            </div>
            <div ng-if="flyer.twoOptions == true">
                <div class = "material-element">
                  <div class = "object-container">
                    <div class = "image-container">
                    <div class = "hover-overlay"></div>
                    <img ng-src = "{{flyer.thumbnailLink}}" />
                    <div class="buttons overlay-buttons ">
                        <a class= "overlay-button" ng-click="saveMaterial(flyer, 0)"> Default </a>
                        <a class= "overlay-button" ng-click="saveMaterial(flyer, 1)"> {{flyer.secondaryButtonDescription}} </a>
                    </div>

                  </div>
                  <div class= "name-container">
                   <h4>{{flyer.name}}</h4>
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div class="clearfix" ng-if="($index+1)%3==0"></div>
          <div ng-repeat-end=""></div>
        </div><!--ends row -->
      </uib-tab>
    </uib-tabset>
  </div>
</div>
  <div ng-show="isHomePage">
    <div class = "container-fluid" style="margin:0!important; padding: 0!important">
      <div class = "background-container">
        <img class = "home-background" src="../img/home_background.png" />
        <div class = "home-title">
          <h1>SRMD Flyers</h1><h4>BETA</h4>
        </div>
      </div>
    </div>
    </div>

  <!-- <div ng-include src="'/home/material_library.view.html'" data-ng-init="fn_load()" ></div> -->
</div>